body{
    background-image: url("../images/subtle_orange_emboss.png");
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    /* padding: 20px;  */
    /* margin: 10px; */
}

.row{
    margin-bottom: 10px;
}

.container{
    max-width: 500px;
}

.gem-blue{
    background-image: url("../images/gem-blue.png")
}

.gem-green{
    background-image: url("../images/gem-green.png")
}

.gem-red{
    background-image: url("../images/gem-red.png")
}

.gem-tile{
    background-color: white;
    height: 100px;
    width: 100px;
}

.gem-yellow{
    background-image: url("../images/gem-yellow.png")
}

.instructions{
    background-color: bisque;
    color: green;
    padding: 30px 10px 50px 10px;
}

.score{
    background-color: lightseagreen;
    color: white;
    width: 250px;
}

.score-total{
    height: 125px;
}

.target{
    background-color: green;
    display: inline-block;
    height: 125px;
    width: 250px;
}

.title{
 background-color: orange;
 display: inline-block;
 color: white;
 padding: 20px 10px;
}

.win-lose-record{
    background-color: aqua;
    color: teal;
    display: inline-block;
    height: 125px;
    margin-left: 10px;
    width: 80px;
}